.prescription-container{
    width: auto;
    margin-top: 10rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0  0 rgba(0, 0, 0, 0.19);
    
}

.prescriptionSubmit{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}
